@font-face {
  font-family: myFirstFont;
  src: url(sf-pro-display_medium.woff2);
}

/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
}
body{
    background: whitesmoke;
}

/*Navigation Bar*/
nav {
  height: 44px;
}

.menu {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}

.menu ul {
  width: 100%;
  margin: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
}

.menu img {
  width: 30px;
}

.menu li a {
  color: #222;
  font-size: 14px;
  line-height: 44px;
  text-decoration: none;
}

.menu i {
  width: 65px;
}

/*Content*/

.content {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 5em 0 0 0;
}

.content h3 {
  font-size: 35px;
}

.content h1 {
  font-size: 64px;
}

.about {
  padding: 80px 0;
  background-color: #111;
}

.about h2 {
  font-size: 60px;
  color: white;
  max-width: 1050px;
  padding-top: 3%;
  margin-left: 0.5em;
}

/*Images*/

.image-section {
  background: whitesmoke;
}

.image-section h1 {
  font-size: 34px;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
}

/*Mosiac layout*/

.image-mosaic {
  display: grid;
  margin: 1em 1em;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
